$icomoon-font-family: "coconut" !default;
$icomoon-font-path: "fonts" !default;

$font-angle-left: "\f104";
$font-angle-right: "\f105";
$font-cc-visa: "\f1f0";
$font-cc-mastercard: "\f1f1";
$font-cc-discover: "\f1f2";
$font-cc-amex: "\f1f3";
$font-cc-paypal: "\f1f4";
$font-cc-stripe: "\f1f5";
$font-chevron-right: "\e900";
$font-chevron-small-left: "\e902";
$font-chevron-small-right: "\e901";
$font-location-pin: "\e90a";
$font-network: "\e90d";
$font-facebook: "\e904";
$font-github: "\e905";
$font-instagram: "\e906";
$font-linkedin: "\e907";
$font-paypal: "\e903";
$font-stripe: "\e908";
$font-tumblr: "\e90c";
$font-twitter: "\e909";
$font-visa: "\e90b";
$font-cart: "\e93a";
$font-location: "\e947";
$font-location-circle: "\e948";
$font-sphere: "\e9c9";
$font-eye: "\e9ce";
$font-eye-blocked: "\e9d1";
$font-embed1: "\ea7f";
$font-embed: "\ea80";

